<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139476298344-574id8ls3qrlntrigsqgigtq6lros0mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139476298344-574id8ls3qrlntrigsqgigtq6lros0mu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>139476298344-mlshur25a7240vhkb2u183r5ijjq34qm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5tryGZf233kAQNbOJOWH1t60egBm_5TY</string>
	<key>GCM_SENDER_ID</key>
	<string>139476298344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drcoderz.whackaghost</string>
	<key>PROJECT_ID</key>
	<string>whackaghost-19808766</string>
	<key>STORAGE_BUCKET</key>
	<string>whackaghost-19808766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139476298344:ios:8461cdfe7f2ebf972d69dd</string>
</dict>
</plist>